/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 nav {
   margin-top: -10px;
   margin-left: -10px;
   margin-right: -10px;
   height: 60px;
   width:101.5%;
   margin-bottom: 40px;
   background-color: white;
   box-shadow: 1px 1px 3px #ccc;
 }

nav, .nav-left, .nav-right {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.nav-left, .nav-right {

  font-size:13px;
}
h1 {
  vertical-align: middle;
}

a, i {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  margin-right: 24px;
}

span {
  margin-top: 20px;
}

.logo {
  /*max-width: 100px;*/
}
