.index-item-container {
  border: solid 1px #ddd;
  border-radius: 10px;
  float:left;
  width: 315px;
  height: 435px;
  margin: 15px;
  background-color: white;
}

.index-body {
  margin-top: 20px;
}

.img-container {
  height: 40%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.index-body {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.img-container:hover {
  cursor: pointer;
}

.index-item-img {
  object-fit: cover;
  height: 100%;
  width:100%;
}

.percent-complete {
  background-color: #2bde73;
  height: .6em;
  float:left;
  margin-bottom: 5px;
  border-radius: 5px;
}
.completion-percent {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f1eeea;
}

.percent-left {
  float:right;
  background-color: #f1eeea;
  height: .6em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5px;
}

.ind-stats {
  margin-bottom: 5px;
}
.index-pledged ul {
  text-align: left;
  font-family: Helvetica;
  font-size: 12px;
}

.location {
  margin-bottom: 5px;
  font: inherit;
}

.index-pledged ul li {
  display: inline-block;
  margin-right: 5px;
}

.ind-stats {
  font-weight: bold;

}

.stat-item {
  color: #888;
}



.description-element {
  height: 25%;
  padding: 10px
}

.stats {
  height: 20%;
  padding:45px 10px 10px 10px;
}

.index-item-title {
  font-weight: bold;
}

.index-item-title, .index-blurb, .index-author, .stats {
  font-family: Helvetica;
  font-size: 12px;
}

 .index-author {
   margin-bottom: 10px;
 }


.index-blurb, .index-author {
  color: #888;
}
