// Place all the styles related to the api::rewardings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back-button {
  margin-left: auto;
  background-color: #2bde73;
  color: white;
  display: block;
  height: 40px;
}

.back-button:hover {
  cursor: pointer;
  background-color: #16ca5e;
}

.reward-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: inherit;
}

.reward-page h2 {
  margin-top: 0px;
  padding-top: 20px;
}

.reward-index-form {
  min-height: 600px;
  display: flex;
  justify-content: center;
  padding: 100px 0px 100px 0px;
  background-color: white;
}

.reward-list-container {
  width: 50%;
}

.reward-select {
  color:white;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 300;
  margin:auto;
}

.reward-select-background {
  height: 140px;
  background-color: #f7f5f2;
}
