/* line 1, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-item-container, .search-item-container {
  border: solid 1px #ddd;
  border-radius: 6px;
  float: left;
  background-color: white;
}

/* line 8, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-item-container {
  margin: 15px;
  height: 435px;
  width: 315px;
}

/* line 14, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-body {
  margin-top: 20px;
}

/* line 18, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.img-container {
  height: 40%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
}

/* line 25, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-body {
  display: flex;
  flex-wrap: wrap;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

/* line 33, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.img-container:hover {
  cursor: pointer;
}

/* line 37, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-item-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* line 43, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.percent-complete {
  background-color: #2bde73;
  height: .6em;
  float: left;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* line 50, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.completion-percent {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f1eeea;
}

/* line 56, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.percent-left {
  float: right;
  background-color: #f1eeea;
  height: .6em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5px;
}

/* line 65, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.ind-stats {
  margin-bottom: 5px;
}

/* line 68, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-pledged ul {
  text-align: left;
  font-family: Montserrat;
  font-size: 12px;
}

/* line 74, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.location {
  margin-bottom: 5px;
  font: inherit;
}

/* line 79, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-pledged ul li {
  display: inline-block;
  margin-right: 5px;
}

/* line 84, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.ind-stats {
  font-weight: bold;
}

/* line 89, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.stat-item {
  color: #555;
}

/* line 95, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.description-element {
  height: 25%;
  padding: 10px;
}

/* line 100, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.stats {
  height: 20%;
  padding: 45px 10px 10px 10px;
}

/* line 105, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-item-title {
  font-weight: bold;
}

/* line 109, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-item-title, .index-blurb, .index-author, .stats {
  font-family: Montserrat;
  font-size: 12px;
}

/* line 114, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-author {
  margin-bottom: 10px;
}

/* line 119, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-blurb, .index-author {
  color: #555;
  line-height: 150%;
}
/* line 5, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/rewardings.scss */
.back-button {
  margin-left: auto;
  margin-right: auto;
  background-color: #2bde73;
  color: white;
  display: block;
}

/* line 13, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/rewardings.scss */
.back-button:hover {
  cursor: pointer;
  background-color: #16ca5e;
}

/* line 18, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/rewardings.scss */
.reward-page h2 {
  margin-top: 0px;
  padding-top: 20px;
}
/* line 4, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
body {
  background-color: #f7f5f2;
}

/* line 8, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
ul {
  list-style: none;
  padding: 0px;
  text-align: center;
}

/* line 14, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.li {
  margin-top: 10px;
}

/* line 19, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.login-container, .signup-container {
  font-family: sans-serif;
  font-size: 24px;
  width: 380px;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 40px;
  background-color: #fff;
}

/* line 30, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
input {
  font-size: 14px;
  height: 35px;
  padding-left: 10px;
  border-radius: 6px;
  border: thin solid #aaa;
  margin: 6px;
  width: 340px;
  -webkit-transition: border 1s;
}

/* line 42, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
input::selection {
  transition-delay: 2s;
  border: 1px solid blue;
}

/* line 47, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.login-title, .signup-title {
  font-size: 32px;
  margin: 15px;
}

/* line 52, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.login-button, .signup-button, .demo {
  height: 40px;
  width: 355px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #2bde73;
  text-align: center;
  color: white;
}

/* line 62, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.demo {
  background-color: #3b5998;
}

/* line 66, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.form-text {
  font-size: 12px;
  text-align: center;
  color: #aaa;
}

/* line 72, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.sign-in-field, .signup-field {
  padding: 2px;
}

/* line 77, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.check {
  color: #666;
}

/* line 81, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.check-box {
  width: 12px;
  height: 15px;
  margin: 0px;
  margin-right: 7px;
  margin-left: 10px;
  vertical-align: middle;
}

/* line 89, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.no-account-intro, .no-account, .check {
  font-size: 14px;
  text-decoration: none;
}

/* line 94, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.no-account {
  color: blue;
  font-weight: bold;
}

/* line 99, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.wrong-form {
  padding-left: 9px;
  font-size: 12px;
  color: blue;
}
/* line 2, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.cf:after {
  content: "";
  clear: both;
  display: block;
}

/* line 8, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.project-form, .reward-form {
  font-family: Montserrat;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
}

/* line 19, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-item {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #f8f9fd;
  margin-bottom: 20px;
  padding: 5px;
}

/* line 29, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-title {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
}

/* line 37, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-title p {
  font-size: 18px;
}

/* line 41, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-submit-button {
  background-color: #2853ff;
  color: white;
  width: 50%;
  height: 50px;
  font-size: 20px;
}

/* line 50, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-submit-button:hover {
  cursor: pointer;
  background-color: #2853D3;
}

/* line 56, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-wrapper p {
  max-width: 350px;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
}

/* line 63, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
textarea {
  border-radius: 10px;
  border: thin solid #aaa;
  font-size: 14px;
  padding: 5px;
}

/* line 70, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.label-wrapper label {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
}

/* line 78, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-wrapper input {
  width: 430px;
}

/* line 82, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
#project-city {
  width: 360px;
}

/* line 86, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
#project-state {
  width: 40px;
}

/* line 90, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-title h2 {
  font-size: 36px;
}
@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-UltraLight.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat-SemiBold.otf);
  font-weight: bold;
}
/* line 23, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.nav-link:hover {
  border-bottom: 3px solid #2bde73;
  padding-bottom: 22px;
}

/* line 28, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.nav-left span, .nav-right span {
  font-weight: bold;
}

/* line 32, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.nav-link {
  margin-right: 0px;
  margin-left: 0px;
}

/* line 37, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.clickable:hover {
  border-bottom: none;
  cursor: pointer;
}

/* line 42, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-background {
  background-color: #f7f7f9;
  margin-top: -50px;
}

/* line 47, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header {
  display: flex;
  background-color: #f7f7f9;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  font-family: "Montserrat";
}

/* line 57, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-stats > div {
  margin-bottom: 10px;
}

/* line 61, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-backing-button {
  background-color: #1bf773;
  color: white;
  transition: all .2s;
  font-size: 18px;
  height: 58px;
  border: thin solid #aaa;
  margin: 6px;
  width: 212px;
}

/* line 72, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-backing-button:hover {
  background-color: #2bde73;
}

/* line 76, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-body {
  padding-top: 20px;
}

/* line 80, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
figure {
  margin: 0px 0px 40px 0px;
}

/* line 84, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.author {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

/* line 90, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-content-background {
  width: 100%;
  background-color: white;
}

/* line 95, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-content, .project-content {
  width: 65%;
  line-height: 150%;
}

/* line 100, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-content {
  float: left;
  padding-top: 20px;
  font-size: 18px;
}

/* line 106, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-content {
  padding: 0px 10px 0px 10px;
}

/* line 110, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-sidebar, .reward-sidebar {
  width: 31%;
  padding: 0px 10px 0px 10px;
}

/* line 114, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.reward-sidebar {
  float: right;
}

/* line 119, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-image-container {
  width: 100%;
}

/* line 123, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.where {
  margin-bottom: 15px;
  color: #aaa;
  font-size: 14px;
}

/* line 129, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 135, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.share-option {
  display: inline-block;
}

/* line 139, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.stat {
  font-size: 48px;
  font-weight: bold;
}

/* line 144, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-stats {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Montserrat;
  padding: 0px 20px;
}

/* line 151, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.stat-type {
  color: #888;
}

/* line 155, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.blurb {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-weight: light;
}

/* line 162, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-body {
  clear: both;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* line 172, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.title {
  font-size: 36px;
  padding: 40px 20px;
  text-align: center;
  font-weight: lighter;
  font-family: Montserrat;
}

/* line 180, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-body {
  background-color: white;
}
/* line 2, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.reward-sidebar-item {
  background-color: #f8f9fd;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
  padding: 20px;
  border: thin solid rgba(211, 224, 253, 0.95);
}

/* line 11, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.reward-sidebar-item:hover {
  cursor: pointer;
}

/* line 15, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.pledge-amt {
  color: #586BE9;
  font-weight: 400;
  font-size: 17px;
  margin: 0px 0px 10px 0px;
}

/* line 22, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.reward-item-backers {
  font-size: 12px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

/* line 29, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.reward-item-name {
  font-weight: lighter;
  margin: 0px 0px 10px 0px;
  font-size: 15px;
}

/* line 35, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.reward-item-desc {
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  line-height: 150%;
  color: #aaa;
}
/* line 1, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/search.scss */
.search-item-container {
  width: 220px;
  height: 400px;
  margin: 10px;
  text-align: left;
}

/* line 8, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/search.scss */
.search-img-container {
  height: 30%;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

/* line 15, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/search.scss */
.search-img-container:hover {
  cursor: pointer;
}

/* line 19, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/search.scss */
.hide-search-results {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  overflow: hidden;
  margin-bottom: 0px;
  height: 0px;
  transition: height .25s;
}

/* line 30, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/search.scss */
.show-search-results {
  transition: height .25s;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  overflow: hidden;
  margin-bottom: 75px;
}

/* line 41, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/search.scss */
.search-item-container .stats {
  padding: 60px 10px 10px 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


 .total-background {
   height: 100%;
   width: 100%;
 }

 .overflow {
   position:relative;
   top: -55px;
   margin-top: -10px;
   margin-left: -10px;
   margin-right: -10px;
   width:101.5%;
   height:120px;
   background-color: white;
   box-shadow: 1px 1px 3px #ccc;
 }

 .no-overflow {
   position:relative;
   overflow: hidden;
   top: -55px;
   margin-top: -10px;
   margin-left: -10px;
   margin-right: -10px;
   width:101.5%;
   height:120px;
   background-color: white;
   box-shadow: 1px 1px 3px #ccc;
 }

 .way-left {
   position: absolute;
   left: -5000px;
   transition: left .3s;
   transition-delay: .5s;
 }

 #fred {
   padding-top: 15px;
 }

 .search-form {
   display: flex;
 }
 .just-right {
   position: absolute;
   left: 80px;
   transition: left .5s;
 }

 .search-nav, .nav-links {
   position:absolute;
 }

 .search-field {
   border: none;
   font-size: 20px;
   padding-top: 5px;
 }

 .search-field:focus {
   outline: none;
 }

 .search-container {
   position: relative;
 }

i.material-icons {
    vertical-align: middle;
}

i.fa.fa-times {
    padding-top: 20px;
    margin-right: 60px;
}

 .nav-links {
   height: 60px;
   width: 100%;
 }

 .search-nav {
   height: 60px;
   position: absolute;
   width: 100%;
 }

 .nav-filler-a {
   width: 148px;
 }

 .nav-filler-b {
   width: 34px;
 }

.search-nav, .nav-links, .nav-left, .nav-right {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.top {
  bottom: 100px;
  transition: bottom 0.5s, top 0.5s;
}

.bottom {
  bottom:0px;
  transition: bottom 0.5s, top 0.5s
}

.off {
  bottom: -100px;
  transition: bottom 0.5s, top 0.5s
}


.nav-left, .nav-right {

  font-size:13px;
}
h1 {
  vertical-align: middle;
}

.drop-li {
  text-align: left;
}
.drop-li a {
  color: black;
  text-decoration: none;
}

.nav-link, i {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  margin-right: 24px;
}
i {
  vertical-align: baseline;
}

.logout:hover, i:hover {
  cursor: pointer;
}

span {
  margin-top: 20px;
}

.user-links {
  position:relative;
}

.hide {
  position: absolute;
  display: none;
}

.my-projects {
  float:left;
  padding-left: 10px;
}

.user-options {
  float: right;
  padding-right: 20px;
}

#dd {
  margin-top: 20px;
  margin-right: 25px;
}

.show {
  position: absolute;
  z-index: 100;
  width: 250px;
  left: 40px;
  top: 65px;
  background: white;
  box-shadow: -1px 1px 3px #ccc;
}
