/* line 1, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-item-container {
  border: solid 1px #ddd;
  border-radius: 6px;
  float: left;
  width: 315px;
  height: 435px;
  margin: 15px;
  background-color: white;
}

/* line 11, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-body {
  margin-top: 20px;
}

/* line 15, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.img-container {
  height: 40%;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
}

/* line 22, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-body {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* line 29, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.img-container:hover {
  cursor: pointer;
}

/* line 33, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-item-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* line 39, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.percent-complete {
  background-color: #2bde73;
  height: .6em;
  float: left;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* line 46, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.completion-percent {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f1eeea;
}

/* line 52, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.percent-left {
  float: right;
  background-color: #f1eeea;
  height: .6em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 5px;
}

/* line 61, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.ind-stats {
  margin-bottom: 5px;
}

/* line 64, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-pledged ul {
  text-align: left;
  font-family: Helvetica;
  font-size: 12px;
}

/* line 70, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.location {
  margin-bottom: 5px;
  font: inherit;
}

/* line 75, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-pledged ul li {
  display: inline-block;
  margin-right: 5px;
}

/* line 80, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.ind-stats {
  font-weight: bold;
}

/* line 85, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.stat-item {
  color: #888;
}

/* line 91, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.description-element {
  height: 25%;
  padding: 10px;
}

/* line 96, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.stats {
  height: 20%;
  padding: 45px 10px 10px 10px;
}

/* line 101, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-item-title {
  font-weight: bold;
}

/* line 105, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-item-title, .index-blurb, .index-author, .stats {
  font-family: Helvetica;
  font-size: 12px;
}

/* line 110, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-author {
  margin-bottom: 10px;
}

/* line 115, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/projects-index.scss */
.index-blurb, .index-author {
  color: #888;
}
/* line 4, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
body {
  background-color: #f7f5f2;
}

/* line 8, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
ul {
  list-style: none;
  padding: 0px;
  text-align: center;
}

/* line 14, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.li {
  margin-top: 10px;
}

/* line 19, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.login-container, .signup-container {
  font-family: sans-serif;
  font-size: 24px;
  width: 380px;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 40px;
  background-color: #fff;
}

/* line 30, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
input {
  font-size: 14px;
  height: 35px;
  padding-left: 10px;
  border-radius: 6px;
  border: thin solid #aaa;
  margin: 6px;
  width: 340px;
  -webkit-transition: border 1s;
}

/* line 42, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
input::selection {
  transition-delay: 2s;
  border: 1px solid blue;
}

/* line 47, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.login-title, .signup-title {
  font-size: 32px;
  margin: 15px;
}

/* line 52, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.login-button, .signup-button, .demo {
  height: 40px;
  width: 355px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #2bde73;
  text-align: center;
  color: white;
}

/* line 62, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.demo {
  background-color: #3b5998;
}

/* line 66, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.form-text {
  font-size: 12px;
  text-align: center;
  color: #aaa;
}

/* line 72, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.sign-in-field, .signup-field {
  padding: 2px;
}

/* line 77, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.check {
  color: #666;
}

/* line 81, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.check-box {
  width: 12px;
  height: 15px;
  margin: 0px;
  margin-right: 7px;
  margin-left: 10px;
  vertical-align: middle;
}

/* line 89, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.no-account-intro, .no-account, .check {
  font-size: 14px;
  text-decoration: none;
}

/* line 94, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.no-account {
  color: blue;
  font-weight: bold;
}

/* line 99, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/api/sessions.scss */
.wrong-form {
  padding-left: 9px;
  font-size: 12px;
  color: blue;
}
/* line 2, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.cf:after {
  content: "";
  clear: both;
  display: block;
}

/* line 8, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.project-form {
  font-family: Helvetica;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px;
  background-color: white;
  border-radius: 10px;
}

/* line 19, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-item {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #f8f9fd;
  margin-bottom: 20px;
  padding: 5px;
}

/* line 29, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-title {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* line 36, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-submit-button {
  background-color: #2853ff;
  color: white;
  width: 50%;
  height: 50px;
  font-size: 20px;
}

/* line 45, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-submit-button:hover {
  cursor: pointer;
  background-color: #2853D3;
}

/* line 50, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-title {
  font-family: Helvetica;
}

/* line 54, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-title p {
  font-size: 18px;
}

/* line 58, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-wrapper p {
  max-width: 350px;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
}

/* line 65, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
textarea {
  border-radius: 10px;
  border: thin solid #aaa;
  font-size: 14px;
  padding: 5px;
}

/* line 72, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.label-wrapper label {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
}

/* line 80, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-wrapper input {
  width: 430px;
}

/* line 84, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
#project-city {
  width: 360px;
}

/* line 88, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
#project-state {
  width: 40px;
}

/* line 92, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/project_form.scss */
.form-title h2 {
  font-size: 36px;
}
/* line 6, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

/* line 13, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-stats > div {
  margin-bottom: 10px;
}

/* line 17, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-body {
  padding-top: 20px;
}

/* line 21, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
figure {
  margin: 0px;
}

/* line 25, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.author {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

/* line 31, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-content-background {
  width: 100%;
  background-color: white;
}

/* line 36, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-content, .project-content {
  width: 65%;
  float: left;
}

/* line 41, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-content {
  padding-top: 20px;
}

/* line 45, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-content {
  padding: 0px 10px 0px 10px;
}

/* line 49, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-sidebar, .reward-sidebar {
  width: 31%;
  float: right;
  padding: 0px 10px 0px 10px;
}

/* line 55, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-image-container {
  width: 100%;
}

/* line 59, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.where {
  margin-bottom: 5px;
}

/* line 63, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 69, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.share-option {
  display: inline-block;
}

/* line 73, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.stat {
  font-size: 48px;
  font-weight: bold;
}

/* line 78, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-stats {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Helvetica;
  padding: 0px 20px;
}

/* line 85, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.stat-type {
  color: #888;
}

/* line 89, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.blurb {
  font-size: 20px;
  margin-bottom: 10px;
}

/* line 94, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-body {
  clear: both;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: Helvetica;
  font-weight: lighter;
}

/* line 104, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.title {
  font-size: 36px;
  padding: 40px 20px;
  text-align: center;
  font-weight: lighter;
  font-family: Helvetica;
}

/* line 112, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.project-body {
  background-color: white;
}

/* line 116, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/projects.scss */
.header-background {
  background-color: #f7f5f2;
}
/* line 2, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.reward-sidebar-item {
  background-color: #f8f9fd;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
  padding: 20px;
}

/* line 10, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.pledge-amt {
  color: #586BE9;
  font-weight: 400;
  font-size: 22px;
  margin: 0px 0px 10px 0px;
}

/* line 17, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.reward-item-backers {
  font-size: 12px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

/* line 24, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.reward-item-name {
  font-weight: lighter;
  margin: 0px 0px 10px 0px;
  font-size: 18px;
}

/* line 30, /Users/matthewbramfeld/Documents/app-academy/WishHarder/app/assets/stylesheets/reward_sidebar.scss */
.reward-item-desc {
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  color: #aaa;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 nav {
   margin-top: -10px;
   margin-left: -10px;
   margin-right: -10px;
   height: 60px;
   width:101.5%;
   background-color: white;
   box-shadow: 1px 1px 3px #ccc;
 }

 .nav-filler-a {
   width: 148px;
 }

 .nav-filler-b {
   width: 34px;
 }

nav, .nav-left, .nav-right {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}


.nav-left, .nav-right {

  font-size:13px;
}
h1 {
  vertical-align: middle;
}

.drop-li {
  text-align: left;
}
.drop-li a {
  color: black;
  text-decoration: none;
}

.nav-link, i {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  margin-right: 24px;
}
i {
  vertical-align: baseline;
}

.logout:hover, i:hover {
  cursor: pointer;
}

span {
  margin-top: 20px;
}

.user-links {
  position:relative;
}

.hide {
  position: absolute;
  display: none;
}

.my-projects {
  float:left;
  padding-left: 10px;
}

.user-options {
  float: right;
  padding-right: 20px;
}

#dd {
  margin-top: 20px;
  margin-right: 25px;
}

.show {
  position: absolute;
  z-index: 100;
  width: 250px;
  left: 40px;
  top: 65px;
  background: white;
  box-shadow: -1px 1px 3px #ccc;
}
