// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #f7f5f2;
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  margin-top: 10px;
}


.login-container, .signup-container {

  font-family: sans-serif;
  font-size: 24px;
  margin: 20px;
  width: 380px;
  padding: 10px;
  display:block;
  margin: auto;
  background-color: #fff;
}

input {
  font-size: 14px;
  height: 35px;
  padding-left: 10px;
  border-radius: 5px;
  border: thin solid #c7f5f2;
  margin: 6px;
  width: 340px;

}
.login-inner {

}

.login-title, .signup-title {
  font-size:  32px;
  margin: 15px
}

.login-button, .signup-button, .demo {
  height: 40px;
  // margin: auto;
  width: 355px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #2bde73;
  text-align: center;
  color: white;
}

.demo {
  background-color: #3b5998;
}

.form-text {
  font-size:12px;
  text-align: center;
  color:#aaa;
}

.sign-in-field, .signup-field {
  padding: 2px;

}

.check {
  color: #666;
}



.check-box {
  width: 12px;
  height: 15px;
  margin: 0px;
  margin-right: 7px;
  margin-left: 10px;
}
.no-account-intro, .no-account, .check {
  font-size: 14px;
  text-decoration: none;
}

.no-account {
  color: blue;
  font-weight: bold;
}

.wrong-form {
  padding-left: 9px;
  font-size: 12px;
  color: blue;
}
