/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .total-background {
   height: 100%;
   width: 100%;
 }
 nav {
   margin-top: -10px;
   margin-left: -10px;
   margin-right: -10px;
   height: 60px;
   width:101.5%;
   background-color: white;
   box-shadow: 1px 1px 3px #ccc;
 }

 .nav-filler-a {
   width: 148px;
 }

 .nav-filler-b {
   width: 34px;
 }

nav, .nav-left, .nav-right {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}


.nav-left, .nav-right {

  font-size:13px;
}
h1 {
  vertical-align: middle;
}

.drop-li {
  text-align: left;
}
.drop-li a {
  color: black;
  text-decoration: none;
}

.nav-link, i {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  margin-right: 24px;
}
i {
  vertical-align: baseline;
}

.logout:hover, i:hover {
  cursor: pointer;
}

span {
  margin-top: 20px;
}

.user-links {
  position:relative;
}

.hide {
  position: absolute;
  display: none;
}

.my-projects {
  float:left;
  padding-left: 10px;
}

.user-options {
  float: right;
  padding-right: 20px;
}

#dd {
  margin-top: 20px;
  margin-right: 25px;
}

.show {
  position: absolute;
  z-index: 100;
  width: 250px;
  left: 40px;
  top: 65px;
  background: white;
  box-shadow: -1px 1px 3px #ccc;
}
