/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .total-background {
   height: 100%;
   width: 100%;
 }

 .overflow {
   position:relative;
   top: -55px;
   margin-top: -10px;
   margin-left: -10px;
   margin-right: -10px;
   width:101.5%;
   height:120px;
   background-color: white;
   box-shadow: 1px 1px 3px #ccc;
 }

 .no-overflow {
   position:relative;
   overflow: hidden;
   top: -55px;
   margin-top: -10px;
   margin-left: -10px;
   margin-right: -10px;
   width:101.5%;
   height:120px;
   background-color: white;
   box-shadow: 1px 1px 3px #ccc;
 }

 .way-left {
   position: absolute;
   left: -5000px;
   transition: left .3s;
   transition-delay: .5s;
 }

 #fred {
   padding-top: 15px;
 }

 .search-form {
   display: flex;
 }
 .just-right {
   position: absolute;
   left: 80px;
   transition: left .5s;
 }

 .search-nav, .nav-links {
   position:absolute;
 }

 .search-field {
   border: none;
   font-size: 20px;
   padding-top: 5px;
 }

 .search-field:focus {
   outline: none;
 }

 .search-container {
   position: relative;
 }

i.material-icons {
    vertical-align: middle;
}

i.fa.fa-times {
    padding-top: 20px;
    margin-right: 60px;
}

 .nav-links {
   height: 60px;
   width: 100%;
 }

 .search-nav {
   height: 60px;
   position: absolute;
   width: 100%;
 }

 .nav-filler-a {
   width: 148px;
 }

 .nav-filler-b {
   width: 34px;
 }

.search-nav, .nav-links, .nav-left, .nav-right {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.top {
  bottom: 100px;
  transition: bottom 0.5s, top 0.5s;
}

.bottom {
  bottom:0px;
  transition: bottom 0.5s, top 0.5s
}

.off {
  bottom: -100px;
  transition: bottom 0.5s, top 0.5s
}


.nav-left, .nav-right {

  font-size:13px;
}
h1 {
  vertical-align: middle;
}

.drop-li {
  text-align: left;
}
.drop-li a {
  color: black;
  text-decoration: none;
}

.nav-link, i {
  text-decoration: none;
  color: black;
  margin-left: 24px;
  margin-right: 24px;
}
i {
  vertical-align: baseline;
}

.logout:hover, i:hover {
  cursor: pointer;
}

span {
  margin-top: 20px;
}

.user-links {
  position:relative;
}

.hide {
  position: absolute;
  display: none;
}

.my-projects {
  float:left;
  padding-left: 10px;
}

.user-options {
  float: right;
  padding-right: 20px;
}

#dd {
  margin-top: 20px;
  margin-right: 25px;
}

.show {
  position: absolute;
  z-index: 100;
  width: 250px;
  left: 40px;
  top: 65px;
  background: white;
  box-shadow: -1px 1px 3px #ccc;
}
