.checkout-wrapper {
  background-color: white;
  padding: 22px 15% 75px 10%;
  margin-top: 53px;
}

.checkout-form {
  width: 60%;
  margin: auto;
  font-family: "Montserrat";
  position: relative;
  max-width: 530px;
  float:left;
}

.purchase-title {
  font-family: "Montserrat";
}

.credit-info-item {
  display: flex;
  justify-content: space-between;
}

.credit-info-item input {
  max-width: 300px;
}

.checkout-form-header {
  font-weight: 300;
  padding-bottom: 15px;
  padding-top:15px;
}

.error-message {
  margin: 0px;
  text-align: center;
  color: rgb(230, 27, 27);
  font-weight:bolder;
  position: absolute;
  top: 54;
  right:12%;
}

.purchase-info-pane {
  float: right;
  margin-top: 17px;
  min-width: 250px;
  max-width: 275px;
}

.purchase-info-pane:hover {
  cursor:default;
}

#purchase-info-part1 {
  font-size: 18px;
}
#purchase-info-part2 {
  font-size: 18px;
}
#purchase-info-part3 {
  font-size: 16px;
}
#purchase-info-part4 {
  font-size: 14px;
}

.stripe-blurb {
  max-width: 530px;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 20px;
  font-size: 15px;
}

.top-button {
  margin-left: 0%;
  margin-top: 20px;
  width: 205px;
  padding-bottom: 33px
}

.top-button:focus {
  outline: none;
}

.thankyou {
    margin: 0px auto;
    width: 300px;
    background-color: white;
    border:1px solid #e2dfd9;
    border-radius: 3px;
    padding: 15px;
    font-family: "Montserrat";
}

.thankyou button {
  font-size: 14px;
  padding: 12px 40px;
  margin:auto;
}

.thankyou h4 {
  text-align:center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.thankyou p {
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 150%;
  font-size: 15px;
}

.purchase-complete-background {
  padding: 150px 0px;
  background-color: #f7f7f9;
  margin-top: -50px;
  border-bottom:1px solid #e2dfd9;
}

.thankyou-footer {
  background-color: white;
  height: 300px;
  border-top:1px solid #e2dfd9;
}
