
.cf:after {
	content:"";
	clear:both;
	display:block;
}

.project-form, .reward-form {
  font-family: Montserrat;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    background-color: white;
    border-radius: 10px;
}


.form-item {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #f8f9fd;
  margin-bottom: 20px;
  padding: 5px;

}

.form-title {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
	font-family: Montserrat;	
}

.form-title p {
	font-size: 18px;
}

.form-submit-button {
  background-color: #2853ff;
  color: white;
  width: 50%;
  height: 50px;
  font-size: 20px;

}

.form-submit-button:hover {
  cursor: pointer;
  background-color: #2853D3;
}


.form-wrapper p {
  max-width: 350px;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  border-radius: 10px;
  border: thin solid #aaa;
  font-size: 14px;
  padding: 5px;
}

.label-wrapper label {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;

}

.form-wrapper input {
  width: 430px;
}

#project-city {
  width: 360px;
}

#project-state {
  width: 40px
}

.form-title h2 {
  font-size: 36px;
}
