// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nav-link:hover {
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 3px solid #2bde73;
  padding-bottom: 17px;
}

.nav-link:focus {
  text-decoration: none;
  color: black;
}

.nav-left span, .nav-right span {
  font-weight: bold;
}

.nav-link {
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
  border-bottom: 3px solid white;
  padding-bottom: 17px;
  margin-right: 0px;
  margin-left: 0px;
}

.clickable:hover {
  border-bottom: none;
  cursor:pointer;
}

.header-background {
  background-color: #f7f7f9;
  margin-top: -50px;
}

.header {
  display:flex;
  background-color: #f7f7f9;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  font-family: "Montserrat";
}

.share-option {
    border-radius: 1px;
    border: 1px solid #f3f0f0;
    font-size: 11px;
    width: 85px;
    height: 17px;
    position: relative;

}

svg {
  margin-right: 6px;
}

.share-text {
  position: absolute;
  margin: 0px;
  top: -2px;
  color: #100e5f;
  font-weight: bolder;
}

.share-bar {
  margin-left: -20px;
  width: 75%;
}

.share-bar-title {
    display: flex;
    justify-content: space-around;
}

.header-stats > div {
  margin-bottom: 10px;
}


.header-backing-button {
  font-weight: 300;
  background: linear-gradient(#1bf773, #40c35a);
  color: white;
  transition: all .2s;
  font-size: 18px;
  height: 58px;
  border: thin solid #aaa;
  margin: 6px;
  width: 212px;
}

.header-backing-button:hover {
  background-color: #2bde73;
}

.project-body {
  padding-top: 20px;
}

figure {
  margin: 0px 0px 40px 0px;
}

.author {
  font-size: 14px;
  text-align: center;
  margin-top: 5px;
}

.project-content-background {
  width: 100%;
  background-color: white;
}

.header-content, .project-content {
  width: 65%;
  line-height: 150%;
}

.project-content {
  float: left;
  padding-top: 20px;
  font-size: 18px;
  font-weight: normal;
}

.header-content {
  padding: 0px 10px 0px 10px;
}

.header-sidebar, .reward-sidebar {
  width: 31%;
  padding: 0px 10px 0px 10px
}
.reward-sidebar {
  float: right;
}


.project-image-container {
  width: 100%;
}

.where {
  margin-bottom: 15px;
  color: #aaa;
  font-size: 14px;
}

.header-image {
  width:100%;
  height:100%;
  object-fit: cover;
}

.share-option {
  display: inline-block;
}

.stat {
  font-size: 48px;
  font-weight: bold;
}

.header-stats {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Montserrat;
  padding: 0px 20px;
}

.stat-type {
  color: #888;
}

.blurb {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: "Montserrat";
  font-weight: 300;
}

.project-body {
  max-width: 1040px;
  margin: auto;
  font-size: 20px;
  font-family: "Montserrat";
  background-color: white;
  font-weight: lighter;
  padding-bottom: 100px;
}

.title {
  font-size: 36px;
  padding: 40px 20px;
  text-align: center;
  font-weight: lighter;
  font-family: Montserrat;
}

.project-is-complete {
  color: #d42b2b;
  font-size: xx-large;
}
