
.cf:after {
	content:"";
	clear:both;
	display:block;
}

.project-form-container, .reward-form-container {
  font-family: Montserrat;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    background-color: white;
    border-radius: 10px;
}

.project-form {
	background-color: white;
	padding-top: 14px;
}

.reward-form {
	min-width:561px;
	max-width: 60%;
	margin: auto;
}

.form-title h2 {
	font-weight: 300;
}

.form-title p {
	margin-bottom: 60px;
	font-size: 18px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #f8f9fd;
  margin-bottom: 5px;
  padding: 32px 5px;

}

.form-title {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
	font-family: Montserrat;
}

.button-holder {
	display: flex;
	justify-content: space-between;;
	margin-top: 15px;
}

.form-submit-button {
  background-color: #3463c7;
  color: #f7f5f2;
	width:49%;
  height: 65px;
  font-size: 20px;
	font-weight: 300;
	border-radius: 6px;
	margin: 6px 0px;
}

button {
	margin: 6px 6px 6px 0px;
	padding: 12px 70px;
	border-radius: 9px;
	font-size: large;
	background-color: #3463c7;
	color: white;
	border: none;
	font-weight: 300;
	color: #f7f5f2;
}

.form-submit-button:hover {
  cursor: pointer;
  background-color: #2853ff;
}

.actual-form-element {
	max-width: 800px;
	margin:auto;
}


.form-wrapper p {
  max-width: 350px;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  border-radius: 10px;
  border: thin solid #aaa;
  font-size: 14px;
  padding: 5px;
	margin-right:5px;
}

.label-wrapper label {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.n-input {
	width: 340px;
}

.form-wrapper input {
  width: 430px;
}

#project-city {
  width: 360px;
}

#hh2 {
	padding-top: 40px;
}

#project-state {
  width: 40px;
}

.parent-div {
	background-color: #f7f7f9;
	margin-top: -70px;
}

.form-title h2 {
  font-size: 36px;
}
