.checkout-wrapper {
  background-color: white;
  padding: 22px 0px 75px 0px;
  margin-top: 35px;
  display: flex;
}

.checkout-form {
  width: 60%;
  margin: auto;
  font-family: "Montserrat";
  position: relative;
  max-width: 530px;
}

.credit-info-item {
  display: flex;
  justify-content: space-between;
}

.checkout-form-header {
  font-weight: 300;
  padding-bottom: 15px;
}

.error-message {
  margin: 0px;
  text-align: center;
  color: rgb(230, 27, 27);
  font-weight:bolder;
  position: absolute;
  top: 36px;
  right:26%;
}
