.search-item-container {
  width: 220px;
  height: 400px;
  margin: 10px;
  text-align: left;
}

.search-img-container {
  height: 30%;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.search-img-container:hover {
  cursor: pointer;
}

.search-form {
  padding-top: 5px;
}

.hide-search-results {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  overflow: hidden;
  margin-bottom: 0px;
  height: 0px;
  transition: height .5s;
}

.show-search-results {
  transition: height .25s;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  overflow: hidden;
  margin-bottom: 75px;
  display: flex;
}

.search-list-item {
  float: left;
}

.s-results-outer {
  position: relative;
  width: 960px;
  margin: auto;
}

.search-list {
  width: 30000px;
  position: absolute;
  transition: left .3s;
}

.results-pane {
  position:relative;
}

.search-item-container .stats {
  padding: 60px 10px 10px 10px;
}
